body{
	margin:0;
	background:url(../images/bg2.png) no-repeat;
	background-size:cover;
}
.item{
	width:200px;
	height:80px;
	position:absolute;
	right:60px;
	top:40px;
	background:url(../images/word1.png) no-repeat;
	background-size:cover;
}
@keyframes dong {

}
.box{
	width:210px;
	height:140px;
	position:absolute;
	right:100px;
	top:120px;
	background:url(../images/hezi.png) no-repeat;
	background-size:cover;
}

.same{
	width:100%;
}
#sence{
	width:600px;
	height:600px;
	background:rgba(0,0,0,0.1);
	margin:30px auto 0;
	border-radius:10px;
	position:relative;
}

.block{
	border-radius:50%;
	float:left;
	position:relative;
	z-index:5;
}
.lx{
	width:200px;
	height:200px;
	background:#fff;
	border-radius:50%;
	position:absolute;
	top:20px;
	left:60px;
	background:url('../images/ll5.jpg') -70px 0px;
}
.rx{
	width:200px;
	height:200px;
	background:#fff;
	border-radius:50%;
	position:absolute;
	bottom:20px;
	right:60px;
	background:url('../images/ll6.jpg') -40px 0px;
}
.hidden{
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.7);
	position:absolute;
	left:0;
	top:0;
	z-index:10;
	-webkit-transition:all .3s ease;
	display:none;
}
.same{
	width:250px;
	height:65px;
	border-radius:10px;
	text-align: center;
	line-height:65px;
	font-size:34px;
	z-index:20;
	color:#fff;
	transition: transform 1s ease;
	cursor: pointer;
}
.same:hover{
	transform: scale(1.1,1.1);
}
.again{
	position:absolute;
	left:42%;
	top:50%;
	background:url(../images/enter1.png) no-repeat;
	background-size:cover;
}
.cancle{
	position:absolute;
	left:42%;
	top:67%;
	background:url(../images/enter1.png) no-repeat;
	background-size:cover;
}
#who{
	width:598px;
	height:80px;
	text-align: center;
	line-height:80px;
	color:#fff;
	font-size: 3em;
	position:absolute;
	left:28%;
	top:25%;
}
.items{
	width:68px;
	height:60px;
	float:left;
	transform: scale(1.1,1.1);
	overflow: hidden;
}

#item1{
	margin-left:200px;
	margin-top:10px;
}
#item2{
	margin-left:40px;
	width:150px;
	height:80px;
}
